@keyframes expand-bar {
  from {
    width: calc(var(--border-radius) * 2);
  }
}

@keyframes expand-section {
  from {
    width: 100%;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);

  .bar {
    display: flex;
    width: 100%;
    min-width: 273px;
    height: 10px;
    gap: var(--space-xxxxs);
    border-radius: var(--border-radius);
    overflow: hidden;
    animation: expand-bar var(--language-bar-animation-duration) forwards;

    &-section {
      min-width: var(--space-xxxxs);
      height: 100%;
      animation: expand-section var(--language-bar-animation-duration) forwards;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xxxs) var(--space-l);
  }
}
