:root {
  // BORDER RADIUS (for some reason??)
  --border-radius: 6px;
  --topic-border-radius: 20px;
  --tag-border-radius: 16px;
  --readme-border-radius: 4px;

  // ANIMATIONS
  --default-duration: 500ms;
  --default-duration-short: 300ms;
  --loader-animation-duration: 3s;
  --button-transition-duration: var(--default-duration);
  --card-transition-duration: var(--default-duration);
  --input-transition-duration: var(--default-duration);
  --dropdown-option-transition-duration: var(--default-duration);
  --input-transition-duration: var(--default-duration);
  --input-check-transition-duration: 300ms;
  --language-bar-animation-duration: 1s;
  --layout-transition-duration: 300ms;

  // SPACING
  --space-xxxxl: 80px;
  --space-xxxl: 40px;
  --space-xxl: 32px;
  --space-xl: 24px;
  --space-l: 20px;
  --space-ml: 18px;
  --space-m: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xss: 10px;
  --space-xxs: 8px;
  --space-xxxs: 4px;
  --space-xxxxs: 2px;
  --space-page-xl: 180px;
  --space-page-l: 111px;
  --space-page: 100px;
  --space-page-s: 92px;
  --selector-arrow-space: 15px;

  // THEME COLORS
  --brand: #1f883d;
  --brand-hover: #1f883db3;
  --brand-active: #08531d;
  --color-hint: #7e7e7e;
  --bg-default: #ffffff;
  --hint: #d9d9d9;
  --link-color: #0080ff;
  --layout: #00000040;
  --shadow: 0 4px 10px #00000040;

  // PAGE COLORS
  --page-bg-primary: #f6f8fa;
  --page-bg-secondary: var(--bg-default);

  // LOADER COLORS
  --loader-bg: var(--brand);

  // TEXT COLORS
  --text-primary: #000000;
  --text-secondary: #afadb5;
  --text-accent: var(--brand);
  --text-brand-contrast: #ffffff;

  // BUTTON COLORS
  --button-primary-bg: var(--brand);
  --button-primary-text: var(--text-brand-contrast);
  --button-primary-bg-hover: var(--brand-hover);
  --button-primary-text-hover: var(--button-primary-text);
  --button-primary-bg-disabled: #d9d9d9;
  --button-primary-text-disabled: var(--button-primary-text);
  --button-primary-bg-active: var(--brand-active);
  --button-primary-text-active: var(--button-primary-text);

  // CARD COLORS
  --card-image-bg: var(--hint);
  --card-bg: var(--bg-default);
  --card-shadow-hover: var(--shadow);

  // INPUT COLORS
  --input-bg: var(--bg-default);
  --input-bg-disabled: var(--input-bg);
  --input-bg-focus: var(--input-bg);
  --input-border: var(--input-bg);
  --input-border-disabled: var(--input-bg);
  --input-border-focus: var(--brand);
  --input-placeholder: var(--text-secondary);
  --input-text: var(--text-primary);
  --input-text-disabled: #00000033;
  --input-text-focus: var(--input-text);
  --input-caret: var(--text-primary);

  // DROPDOWN COLORS
  --dropdown-options-bg: var(--bg-default);
  --dropdown-options-bg-hover: var(--dropdown-options-bg);
  --dropdown-options-bg-selected: var(--dropdown-options-bg);
  --dropdown-option-text: var(--text-primary);
  --dropdown-option-text-hover: var(--text-secondary);
  --dropdown-option-text-selected: var(--text-accent);
  --dropdown-options-shadow: var(--shadow);

  // CHECKBOX COLORS
  --checkbox-bg: var(--bg-default);
  --checkbox-bg-disabled: #ffffff80;
  --checkbox-bg-hover: var(--checkbox-bg);
  --checkbox-border: var(--checkbox-bg);
  --checkbox-border-disabled: #ffffff00;
  --checkbox-border-hover: var(--brand);
  --checkbox-check: var(--brand);
  --checkbox-check-disabled: #00000033;
  --checkbox-check-hover: var(--checkbox-check);

  // NAVBAR COLORS
  --navbar-bg: var(--page-bg-primary);
  --navbar-border: var(--hint);

  // IMAGE COLORS
  --image-bg: var(--hint);
  --image-border: #ecebeb;

  // TOPIC COLORS
  --topic-text: #0066cc;
  --topic-bg: #daedff;

  // TAG COLORS
  --tag-bg: var(--hint);
  --tag-text: #0000009e;

  // README COLORS
  --readme-border: var(--hint);

  // SCROLLBAR COLORS
  --scroll-default: #00000033;
}
