@import "styles/mixins";

.wrap {
  display: flex;
  padding: var(--space-s) var(--space-xs);
  background: var(--bg-default);
  border: none;
  border-radius: 0;
  outline: none;
  color: var(--text-primary);
  cursor: pointer;
  transition: all var(--default-duration-short);

  &:hover,
  &:focus {
    background: var(--hint);
  }

  @include mediaTouch {
    &:active {
      background: var(--hint);
    }
  }
}
