@import "../../../../../styles/mixins.scss";

.wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);

  .title {
    .tag {
      position: relative;

      &::after {
        @include text-tag;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        padding-top: var(--space-xxxs);
        color: var(--tag-text);
        background: var(--tag-bg);
        border-radius: 50%;
        content: attr(data-count);
      }
    }
  }

  .user-wrap {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);

    b {
      color: var(--text-primary);
    }
  }
}
