@import "styles/mixins.scss";

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-xl);
  padding-top: var(--space-xxxl);
  padding-right: calc(var(--space-page-l) - 16px);
  padding-bottom: var(--space-page-xl);
  padding-left: var(--space-page-s);
  overflow: auto;

  @include mediaSmallDesktop {
    padding-right: calc(var(--space-xxxl) - 16px);
    padding-left: var(--space-xxxl);

    .no-scroll {
      padding-right: var(--space-xxxl);
    }
  }

  @include mediaMobile {
    padding-right: calc(var(--space-xl) - 16px);
    padding-left: var(--space-xl);

    .no-scroll {
      padding-right: var(--space-xl);
    }
  }

  .bottom-stats {
    display: flex;
    gap: 80px;

    @include mediaTablet {
      flex-direction: column;
      gap: var(--space-xl);
    }
  }

  .readme-wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--readme-border);
    border-radius: var(--readme-border-radius);

    .readme-title {
      @include text-topic;
      padding: var(--space-m);

      @include mediaTablet {
        padding: var(--space-xs);
      }
    }

    .readme-content {
      padding: var(--space-xxl);

      @include mediaTablet {
        padding: var(--space-m);
      }
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
