@keyframes sidebar-slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.layout {
  display: flex;
  align-items: stretch;

  .sidebar-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 400px;
    max-width: 100vw;
    background: var(--bg-default);
    transform: translateX(-100%);
    transition: transform var(--layout-transition-duration);

    .sidebar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-m) var(--space-l);
      color: var(--text-brand-contrast);
      background: var(--brand);

      .back {
        display: flex;
        padding: 0;
        background: none;
        border: none;
        color: currentColor;
        transform: rotateY(-180deg);
        transition: transform var(--default-duration);

        svg path {
          transition: all var(--layout-transition-duration);
        }

        &:hover {
          transform: scale(120%) rotateY(-180deg);
        }
      }
    }

    &[data-visible="true"] {
      box-shadow: var(--shadow);
      transform: none;

      .back svg path {
        d: path("M11.88 26.5599L20.5733 17.8666C21.6 16.8399 21.6 15.1599 20.5733 14.1333L11.88 5.43994");
      }
    }
  }
}
