.icon-styles {
  display: none;

  &[data-color="primary"] + svg {
    color: var(--text-primary);
  }

  &[data-color="secondary"] + svg {
    color: var(--text-secondary);
  }

  &[data-color="accent"] + svg {
    color: var(--text-accent);
  }

  &:not([data-color="default"]) {
    &.stroke + svg * {
      stroke: currentColor;
    }

    &.fill + svg * {
      fill: currentColor;
    }
  }
}
