@import "styles/mixins";

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xxxl) var(--space-page);
  padding-right: calc(var(--space-page) - 16px);
  overflow-y: scroll;
  overflow-x: hidden;

  @include mediaSmallDesktop {
    padding: var(--space-xxxl);
    padding-right: calc(var(--space-xxxl) - 16px);

    &#{&}.no-scroll {
      padding-right: var(--space-xxxl);
    }
  }

  @include mediaMobile {
    padding-right: calc(var(--space-xl) - 16px);
    padding-left: var(--space-xl);

    &#{&}.no-scroll {
      padding-right: var(--space-xl);
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
    text-align: center;
    margin-bottom: var(--space-ml);

    @include mediaTablet {
      gap: var(--space-m);

      &-top {
        @include text-title-mobile;
        font-weight: bold;
      }

      &-bottom {
        @include text-p-16;
      }
    }
  }
}
